
{{>navigationBarStudent}}
<div class="mainContent">
    <div class="reminders">
        {{>reminders}}
    </div>
    <div class="content">
        <div class="reserveForm">
            <form action="/editReservationFuncStud"  method="post">
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="Name"><b>Name</b></label>
                        <input type="text" name = "username" placeholder="{{user}}">
                        <input type="hidden" name="ogusername" value="{{ogusername}}">
                    </div>
                </div>
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="email"><b>Email</b></label>
                        <input type="text" name = "email" value="{{dlsu_email}}">
                         <input type="hidden" name = "ogemail" value="{{dlsu_email}}">
                    </div>
                </div>
                <div class="formLab">
                    <div class="formPersonal">
                        <input type="hidden" name="oglab" id="oglab" value="{{oglab}}">
                    </div>
                </div>
                <div class="formDateTime">
                    <div class="formQuestion">
                        <label for="date"><b>Date</b></label>
                        <input type="date" id="date" name="date" placeholder="{{date}}" required>
                        <input type="hidden" name="ogdate" value="{{date}}">
                    </div>
                    <div class="formQuestion">
                        <label for="time"><b>Time</b></label>
                        <input type="hidden" name = "ogtime_slot"  value="{{time_slot}}">
                        <select name="time_slot" name = "time_slot"  id="time_slot"  value="{{time_slot}}"required>
                            <option value="">- -</option>
                            <option value="8:00 - 9:30">8:00 - 9:30</option>
                            <option value="10:00 - 11:30">10:00 - 11:30</option>
                            <option value="12:00 - 13:30">12:00 - 13:30</option>
                            <option value="14:00 - 15:30">14:00 - 15:30</option>
                            <option value="16:00 - 17:30">16:00 - 17:30</option>
                            <option value="18:00 - 19:30">18:00 - 19:30</option>
                        </select>
                    </div>
                </div>
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="seat_num"><b>Seat Number</b></label>
                        <input type="text" name = "seat_num" id="seat_num" value="{{seat_num}}" required>
                         <input type="hidden" name = "ogseat_num" value="{{seat_num}}">
                    </div>
                </div>
                <input type="submit" class="submitBtn">
            </form>
        </div>
    {{>seatTable}}
</div>
