{{> navigationBarStudent}}
<span class="spacer"></span>
    <div class="profile-box">
        <div class="profile-photo">
            <img src="{{profileimg}}" class="rounded-image">
        </div>
        <div class="profile-userinfo">
            <h1>{{first_name}} {{last_name}}</h1>
            <h2>{{dlsu_email}}</h2>
            <h3>{{id_num}}</h3>
        </div>
        <div class="spacer">

        </div>
        <div class="profile-edit">
            <a href="/editprofileStudent">
                <button class="pill" type="button">Edit Profile</button>
            </a>
        </div>
    </div>
    <!-- Body of Profile Page -->
    <div class="profile-body">
        {{>studentprofileSide}}
        <hr>
        <div class="body-myreservations">
            <div class="mainContent">
                <h1 id="reservationtitle">Reservations</h1>
                <div class="filterContainer">
                    <h4>Filter</h4>
                    <form action="">
                        <label for="date">Date</label>
                        <input type="date">
                        <label for="compLab">Comp. Lab</label>
                        <select name="compLab" id="compLab">
                            <option value="--">-- Select Lab</option>
                            {{!-- make an option here for each unique data in computer_lab ? for accurate filter --}}
                            <option value="GK304A">GK304A</option>
                            <option value="GK503B">GK503B</option>
                        </select>
                        <input type="submit" class="reserveBtn" value="Filter">
                    </form>
                </div>
                <table id="reservations">
                    <tr>
                        <th>Computer Lab</th>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Seat Number</th>
                        <th></th>
                    </tr>
                {{#each reservation_data}}
                    <tr>
                        <td>{{computer_lab}}</td>
                        <td>{{date}}</td>
                        <td>{{time_slot}}</td>
                        <td>{{email}}</td>
                        <td>{{user}}</td>
                        <td>{{seat_num}}</td>
                        <td>
                            <div class="cont">
                                <form action="/editStudent">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </table>
            </div>
        </div>
    </div>
    <!-- END -->