{{> navigationBarStudent}}
<span class="spacer"></span>
    <div class="profile-box">
        <div class="profile-photo">
            <img src="{{profileimg}}" class="rounded-image">
        </div>
    <div class="profile-userinfo">
        <h1>{{first_name}} {{last_name}}</h1>
        <h3>{{id_num}}</h3>
    </div>
        <div class="spacer">

        </div>
        <div class="profile-edit">
            <a href="/editprofileStudent">
                <button class="pill" type="button">Edit Profile</button>
            </a>
        </div>
    </div>
    <!-- Body of Profile Page -->
    <div class="profile-body">
        {{>studentprofileSide}}
        <hr>
        <div class="body-myreservations">
            <div class="mainContent">
                <h1 id="reservationtitle">Reservations</h1>
                {{>filter}}
                <table id="reservations">
                    <tr>
                        <th>Computer Lab</th>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Seat Number</th>
                        <th></th>
                    </tr>
                {{#each reservation_data}}
                    <tr>
                        <td>{{computer_lab}}</td>
                        <td>{{date}}</td>
                        <td>{{time_slot}}</td>
                        <td>{{email}}</td>
                        <td>{{username}}</td>
                        <td>{{seat_num}}</td>
                        <td>
                            <div class="cont">
                                {{!-- edit link --}}
                                <form action="/editStudent">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </table>
            </div>
        </div>
    </div>
    <!-- END -->