{{>navigationBarTech}}

<div class="mainContent">
    <h1>Reservations</h1>
    {{>filter}}
    <table id="reservations">
        <tr>
            <th>Computer Lab</th>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Email</th>
            <th>User</th>
            <th>Seat Number</th>
            <th></th>
        </tr>
        {{#each all_reserve_data}}
        <tr>
            <td>{{computer_lab}}</td>
            <td>{{date_reserved}}</td>
            <td>{{time_slot}}</td>
            <td>{{email}}</td>
            <td>{{user}}</td>
            <td>{{seat_num}}</td>
            <td>
               <div class="cont">
                    {{!-- change html --}}
                    <form action="/editReservationTech" method="post">
                        <input type="hidden" name="username" value="{{user}}">
                        <input type="hidden" name="email" value="{{email}}">
                        <input type="hidden" name="lab" value="{{computer_lab}}">
                        <input type="hidden" name="time" value="{{time_slot}}">
                        <input type="hidden" name="date" value="{{date_reserved}}">
                        <input type="hidden" name="seat" value="{{seat_num}}">
                        <button type="submit" class="reserveBtn">Edit</button>
                    </form>
                    <form action="/deleteLab" method="post">
                        <input type="hidden" name="username" value="{{user}}">
                        <input type="hidden" name="email" value="{{email}}">
                        <input type="hidden" name="lab" value="{{computer_lab}}">
                        <input type="hidden" name="time" value="{{time_slot}}">
                        <input type="hidden" name="date" value="{{date_reserved}}">
                        <input type="hidden" name="seat" value="{{seat_num}}">
                        <button type="submit" class="reserveBtn">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>
</div>